input {width: 50px;}
.form-control {text-align: center; display: inline-block; height: 25px; width: 125px;}
.health-title {border: 2px solid black; border-left: 0; border-right: 0; display: inline-block; text-align: center;}
.forminfo {text-align: center;}
.intro {border: 2px solid black; display: inline-block; text-align: center;}
.results {border: 2px solid black; border-left: 0; border-right: 0; display: inline-block; text-align: center;}
p {margin: 0;}
.highlight { border: 2px solid red;}